html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    color: #464069;
    background: #f1f1f1 url(bg.svg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: -apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

main {
    font-size: 140%;
    line-height: 1.3;
    
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 42.5rem;
}

h1, h2, h3 {
    font-size: 180%;
    margin-top: 0;
}

h1 { 
    display: block;
    margin: 2rem 0;
    overflow: hidden;
    background: url(campus.svg) top left no-repeat;
    text-indent: -1000em;
}

h2 {
    line-height: 1;
    font-weight: normal;
    color: #FD6120;
}

ul {
    list-style: none;
}

li + li {
    margin-top: 0.5em;
}

li:before {
    position: absolute;
    margin: -0.5rem 0 0 -1.8rem;
    content: "âµ";
    font-size: 150%;
    color: #A6DAE9;
}

footer {
    background: #fafafa;
    padding: 10rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}

footer * {
    line-height: 1;
}

footer a {
    color: #464069;
}

footer > *, footer p {
    margin-top: 0;
}

footer li:before {
    display: none;
}

footer li {
    margin-bottom: 1rem;
}

footer li:last-child {
    margin-top: 2.5rem;
}

footer div {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    grid-gap: 1rem;
}

footer div img {
    margin-top: 3px;
    width: 90%;
}

label {
    display: inline-block;
    min-width: 60px;
    font-weight: bold;
}

input[type=text], input[type=email], button {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0.15em 0.5rem;
    line-height: 1.5rem;
    height: 1.5rem;
    font-size: 16px;
}

button {
    margin-top: 1rem;
    font-weight: bold;
    height: 2.5rem;
    padding: 0.25rem 1rem;
    background: #0e303f;
    color: white;
    border: none;
}

@media all and (max-width: 680px) {
    footer {
        display: block;
        padding: 2rem 1rem;
    }

    footer form {
        margin: 3rem 0;
    }

    footer ul {
        padding-left: 0;
        margin-left: 0;
    }
}